---
import Subtitle from "../subtitle.astro";
import Title from "../title.astro";
import { Image } from "astro:assets";
import barfImg from "../../assets/barf-image.jpg";
---

<section
  id="barf"
  class="py-16 mt-20 bg-two px-[5%] font-text text-one font-medium"
>
  <Title text="¿Qué es BARF?" />
  <Image
    src={barfImg}
    alt="imagen de ejemplo Barf"
    class="rounded-2xl mx-auto mt-8"
    width={500}
  />
  <div class="pt-10 max-w-2xl mx-auto">
    <!-- <p class="">
      ¿Te preocupa la salud y el bienestar de tus queridos amigos peludos?
      Entonces, es hora de explorar la Dieta BARF. Aquí te ofrecemos una visión
      completa de la Dieta BARF, junto con consejos sobre cómo usar nuestra
      calculadora especializada
    </p>
    <br /> -->
    <p>
      La Dieta BARF, acrónimo de "Bones and Raw Food" (huesos y comida cruda) o
      "Biologically Appropriate Raw Food" (comida cruda biológicamente
      apropiada), es un enfoque nutricional que ha ganado popularidad en el
      cuidado de mascotas en todo el mundo.
    </p>
    <br />
    <p>
      Es un sistema de alimentación para perros y gatos que se basa en la idea
      de que los alimentos crudos, no procesados y libre de conservantes son la
      clave para mantener a nuestras mascotas saludables. Se inspira en las
      dietas que consumían sus ancestros en la naturaleza, compuestas
      principalmente de carne cruda, huesos, vísceras y vegetales.
    </p>
  </div>
  <Subtitle text="Ventajas de la Dieta BARF:" />

  <ul class="pt-5 max-w-2xl mx-auto flex flex-col gap-4">
    <li>
      <p>
        - <strong>Nutrición natural:</strong> La Dieta BARF imita la dieta
        original de los animales, proporcionando una nutrición natural y
        equilibrada.
      </p>
    </li>
    <li>
      <p>
        - <strong>Salud digestiva:</strong> Algunos propietarios notan mejoras
        en la salud digestiva de sus mascotas, como menor flatulencia y heces
        más regulares.
      </p>
    </li>
    <li>
      <p>
        - <strong>Piel y pelaje saludables:</strong> Se ha observado que la
        Dieta BARF puede mejorar la salud de la piel y el pelaje, reduciendo
        problemas como alergias y picazón.
      </p>
    </li>
    <li>
      <p>
        - <strong>Cuidado dental:</strong> El consumo de huesos crudos puede
        ayudar a mantener los dientes limpios y reducir la acumulación de placa.
      </p>
    </li>
  </ul>

  <Subtitle text="Precauciones:" id="precauciones" />
  <ul class="pt-5 max-w-2xl mx-auto flex flex-col gap-4">
    <li>
      <p>
        - <strong>Equilibrio Nutricional:</strong> Es fundamental garantizar que
        la dieta sea equilibrada y contenga todos los nutrientes necesarios. En
        algunos casos, pueden ser necesarios suplementos.
      </p>
    </li>
    <li>
      <p>
        - <strong>Higiene:</strong> Manipula alimentos crudos con cuidado para
        prevenir la contaminación. Lava tus manos y utensilios de cocina
        adecuadamente después de preparar comidas.
      </p>
    </li>
    <li>
      <p>
        - <strong>Freezado:</strong> Respetar los tiempos de freezados previos
        antes de ofrecer los alimentos crudos a tus peludos y siempre descongela
        las porciones en heladera, nunca al aire libre! Se requieren 3 días para
        carne de pollo y vaca, 7 días para el pescado y 3 días para cordero y
        chivito. No recomendamos cerdo crudo.
      </p>
    </li>
    <li>
      <p>
        - <strong>Transición Gradual:</strong> Cambiar a la Dieta BARF debe
        hacerse de manera gradual para evitar problemas digestivos. Mezcla
        alimentos crudos con la dieta actual y aumenta la proporción con el
        tiempo.
      </p>
    </li>

    <li>
      <p>
        - <strong>Observación Constante:</strong> Presta atención a la salud y
        el bienestar de tu mascota. Si notas cambios negativos, busca atención
        veterinaria de inmediato.
      </p>
    </li>
    <li>
      <p>
        - Recuerda que esta calculadora es para perros sanos y con una correcta
        condición corporal.
      </p>
    </li>
    <li>
      <p>
        - Lo idea siempre sería asesorarte con un nutricionista para poder
        diseñar un plan específico para tu perro.
      </p>
    </li>
  </ul>

  <Subtitle text="Ingredientes:" />
  <ul class="pt-5 max-w-2xl mx-auto flex flex-col gap-4">
    <li>
      <p>
        - <strong>Huesos Carnosos:</strong> alas de pollo, muslo de pollo,
        espinazo, rabo, cogotes de pollo, carcaza de pollo.
      </p>
    </li>
    <li>
      <p>
        - <strong>Carne:</strong> merluza bretola, cordero, chivito, gallina,
        lengua, mollejas de pollo, carnaza, paleta, roast beef, aguja, marucha,
        azotillo, carne chica de vaca, quijada de vaca, corazón, garrón, pechuga
        de pollo, pata muslo de pollo.
      </p>
    </li>
    <li>
      <p>
        - <strong>Visceras:</strong> riñón, seso, bofe, pajarilla, criadilla,
        páncreas.
      </p>
    </li>
    <li>
      <p>
        - <strong>Frutas y verduras:</strong> anco, zanahoria, calabaza,
        cabutia. Recomendamos estas verduras para iniciar que son nobles y no
        traen mayores inconvenientes, si quiere saber qué otras opciones tiene
        puede consultarlo con su vete de confianza.
      </p>
    </li>
  </ul>
</section>
