---
import Layout from '../layouts/Layout.astro';
import CalculatorForm from '../components/calculatorForm';
---

<Layout title="Welcome to Astro.">
  <main>
    <CalculatorForm client:load />
  </main>
</Layout>

<style></style>
