---
import Title from "../title.astro";
---

<section
  id="nutritionist"
  class="py-16 bg-one px-[5%] font-text text-two font-medium"
>
  <Title color="two" text="Nutricionista" />
  <div class="pt-10 max-w-2xl mx-auto">
    <p>
      <strong>Jesica Vallone</strong> es veterinaria graduada de la Universidad
      de Buenos Aires (UBA). <br />Es especilista en nutrición para perros y
      gatos. Jesica ha forjado su experiencia a través de la colaboración con
      distinguidos docentes de la UBA, así como valiosas asociaciones con
      colegas veterinarios de Chile, incluyendo al renombrado Dr. Vergara.
      Además, ha recibido orientación y conocimiento de destacadas
      nutricionistas animales como Mónica Gonzales Tovar y Doris Ramisch.
    </p>
    <br />
    <p></p>
     Podes comunicarte con ella a través de su <a
      href="https://www.instagram.com/jessi_vete"
      target="_blank"
      class="underline"><strong>Instagram.</strong></a
    >
  </div>
</section>
