<section
  id="nutritionist"
  class="bg-one px-[5%] font-text text-center text-two font-medium"
>
  <p>
    Desarrollado por <a class="underline" href="https://pablopenalva.com"
      ><strong>Pablo</strong></a
    >
  </p>
</section>
